.about {
    padding: 80px 0 100px 0;

    &__wrapper {
        max-width: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 300px minmax(auto, 450px);
        justify-content: space-between;
    }

    &__block {
        padding-left: 20px;
        align-self: center;

        &__text {
            font-size: 15px;
            line-height: 160%;
        }

        :nth-child(2) {
            margin: 25px 0;
        }
    }
}

