@media screen and (max-width: 768px) {
    .about {
        &__wrapper {
            max-width: 430px;
            grid-template-columns: 1fr;
            align-items: center;
            row-gap: 80px;
        }

        &__block {
            padding-left: 0px;
        }

        &__photo {
            margin: 0 auto;
            order: 2;
        }
    }
}
        
@media screen and (max-width: 440px) {
    .about {
        padding: 42px 0;

        &__wrapper {
            row-gap: 42px;
        }

        &__photo {
            width: 260px;
        }

        &__block {
            padding: 0 15px;

            &__text {
                text-align: justify;
            }

            :nth-child(2) {
                margin: 22px 0;
            }
        }
    }
}