.about {
    padding: 80px 0 100px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: 300px minmax(auto, 450px);
        justify-content: space-between;

        max-width: 850px;

        margin: 0 auto;
    }

    &__block {
        align-self: center;

        padding-left: 20px;

        &__text {
            color: rgb(76, 76, 76);
            font-size: 15px;
            line-height: 160%;
        }

        :nth-child(2) {
            margin: 25px 0;
        }
    }
}

