@import "libs/normalize.css";

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(205, 205, 205);
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .container {
        width: auto;
        margin: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 30px;
    }
}

@media screen and (max-width: 440px) {
    .container {
        margin: 0 10px;
    }
}

@import "blocks/headings";
@import "blocks/buttons";

@import "blocks/header";
@import "blocks/not-only/not-only";

@import "blocks/not-only/not-only-media";