.button {
    width: 207px;
    height: 52px;
    border: none;
    border-radius: 100px;
    background-color: $main-color;
    font-size: 17px;
    line-height: 130%;
    font-family: "Georgia", serif;
    color: rgb(41, 41, 41);

    &_not-only {
        margin-top: 42px;
    }
}