.button {
    width: 207px;
    height: 52px;
    border: none;
    border-radius: 100px;
    background-color: $main-color;
    font-size: 17px;
    line-height: 130%;
    font-family: "Georgia", serif;
    color: rgb(41, 41, 41);
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;

    &_friends {
        display: block;
        width: 261px;
        margin: 0 auto;
    }

    &:hover {
        background-color: $hover-button;
    }

    &:active {
        box-shadow: inset 0px 0px 10px rgb(2, 2, 2);
    }

    &_item {
        background-color: unset;
        border: 2px solid $hover-button;
    }

    &_arrow {
        width: 52px;
        border: 2px solid $hover-button;
        background-color: unset;
        background: url("../icons/arrow.svg") center no-repeat;
    }

    &_circle {
        width: 52px;
        background-color: unset;
        border: 2px solid $main-color;

        &:hover {
            background-color: $main-color;
        }
    }

    &_cross {
        position: absolute;
        top: -52px;
        right: -42px;
    }
}

@media screen and (max-width: 440px) {
    .button {

        &_friends {
            width: 260px;
        }

        &_item {
            width: 187px;
        }

        &_cross {
            right: -31px;
        }
    }
}