.heading {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;

    &_main {
        color: rgb(255, 255, 255);
    }

    &_section {
        font-size: 35px;
        letter-spacing: 0.054em;

    }

    &_our-friends {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    &_item {
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (max-width: 440px) {
    .heading {
        font-size: 25px;
        text-align: center;
        width: 60%;


        &_section {
            margin: 0 auto;
            width: 80%;
        }

        &_our-friends {
            width: 100%;
        }
    }
}