@media screen and (max-width: 1084px) {
    .help {

        &__items {
            column-gap: 84px;
        }
    }   
}

@media screen and (max-width: 768px) {
    .help {
        &__items {
            justify-content: space-between;
            column-gap: 60px;
            row-gap: 55px;

            max-width: 630px;
        }

        &__item {
            width: 170px;
        }
    }
}

@media screen and (max-width: 576px) {
    .help {
        padding: 42px 0;

        &__items {
            column-gap: 30px;
            row-gap: 30px;

            max-width: 400px;

            margin-top: 42px;
            padding: 0 5px;
        }

        &__item {
            width: 130px;
            height: 87px;
            
            font-size: 15px;
            line-height: 110%;

            img {
                width: 50px;
            }
        }
    }
}