.help {
    padding: 80px 0 100px 0;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 120px;
        row-gap: 55px;

        max-width: 1026px;

        margin: 0 auto;
        margin-top: 60px;

        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        height: 113px;

        text-align: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.058rem;
    }
}