@media screen and (max-width: 1084px) {
    .not-only__block {
        align-self: center;

        width: 38%;

        padding-top: 0;
    }

    .not-only__photo {
        max-width: 60%
    }
}

@media screen and (max-width: 768px) {
    .not-only {
        padding-top: 150px
    }

    .not-only__wrapper {
        flex-direction: column
    }

    .not-only__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%
    }
    
    .not-only__photo {
        align-self: flex-end;

        max-width: 80.5%;

        margin-top: 100px;
    }
}

@media screen and (max-width: 440px) {
    .not-only__block__text {
        text-align: center
    }

    .not-only__photo {
        max-width: 86.7%;
        
        margin-top: 105px;
    }
}