.our-friends {
    background-color: rgb(246, 246, 246);

    padding: 80px 0 100px 0;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 60px 0;

    &__content {
        display: flex;
        justify-content: space-between;

        width: 990px;

        margin: 0 12px;

        &_our-pets {
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px 40px;

            width: 100%;

            margin: 0;
        }
    }

    &__controller {

        &_next {
            transform: rotateY(180deg);
        }

        &_our-pets {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            width: 340px;

            margin: 0 auto;
        }
    }

    &__page-num {
        width: 52px;
        height: 52px;
        border-radius: 100%;
        background-color: $main-color;
    }

    &__item {
        width: 270px;
        height: 435px;
        border-radius: 9px;
        background-color: rgb(250, 250, 250);

        transition: all 1s;

        &__descr {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            height: 165px;
        }

        &:hover {
            cursor: pointer;
        }  
    }

    &_our-pets {
        display: block;
        
        margin-bottom: 0;
    }
}