@media screen and (max-width: 1199px) {
    .splide {

        &__track {
            width: 630px;
        }

        &__arrow {
            &--prev {
                left: 20px;
            }
            &--next {
                right: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .splide {

        &__track {
            width: 580px;
        }

        &__arrow {
            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .splide {
        &__track {

        }

        &__arrow {
            position: relative;
        }

        &__arrows {
            position: relative;
            display: flex;  
            justify-content: center;
            column-gap: 80px;    
            margin: 50px 0 42px 0;      
        }
    }
}


@media screen and (max-width: 738px) {

    .slider {

        &__content {
            justify-content: center;
        }

        &__item {
            &_tablet {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .splide {

        &__track {
            width: 270px;
        }
    }
}


@media screen and (max-width: 440px) {
    .our-friends {
        padding: 42px 0;
    }

    .slider {
        position: relative;

        flex-direction: column;

        margin: 42px 0 114px 0;

        &__content {
            width: 100%;
        }

        &__controller {
            position: absolute;
            bottom: -74px;

            &_prev {
                order: 2;

                transform: translateX(-66px);
            }

            &_next {
                transform: translateX(66px) rotateY(180deg);
            }

            &_our-pets {
                position: unset;
                
                width: 300px;
            }
        }

        &_our-pets {
            margin-bottom: 0;
        }
    }
}